@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Sofia Sans', sans-serif;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid greenyellow;
    border-radius: 11px;
    cursor: pointer;
    color: white;
    background-color: blueviolet;
}

.row{
    margin: 8px 0;
}

.row input{
    width: 221px;
    font-size: 15px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid blueviolet;
    border-radius: 5px;
}
